{{define "title"}}ÜIS - Home{{end}}

{{define "main"}}
<div data-theme="light">
    <div class="notification is-danger">
        <button class="delete"></button>
        Account wurde deaktiviert. Wenden Sie sich an den Administrator!
    </div>
    <section id="welcome" class="hero is-light is-large">
        <div class="hero-body">
            <p class="title">Übernachter Informations System</p>
            <p class="subtitle">Bitte Aktion aus dem Menü wählen.</p>
            <p class="subtitle">Funktionen:</p>
            <ul>
                <li>Aufenthalte anzeigen</li>
                <li>Formulare drucken</li>
                <li>Neue Klienten aufnehmen</li>
                <li>Personen anzeigen</li>
                <li>Personen suchen</li>
            </ul>
        </div>
    </section>
</div>
{{end}}