{{define "title"}}ÜIS - Passwort vergessen{{end}}

{{define "main"}}
<div data-theme="light">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="mt-5 column is-three-fifths is-offset-one-fifth">
                <section class="hero is-medium has-background-white-ter">
                    <div class="hero-body has-text-centered">
                        <div class="login">
                            <div>
                                <h3 class="title">Code anfordern</h3>
                                <p>um das Passwort neu zu vergeben</p>
                                <hr class="login-hr">
                            </div>
                            <form action="/account/forgot_password" method="POST" novalidate>
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                                {{range .Form.NonFieldErrors}}
                                <div class='is-color-danger'>{{.}}</div>
                                {{end}}
                                <div class="field">
                                    <label for="email" class="label">Email:</label>
                                    {{with .Form.FieldErrors.email}}
                                    <label class='label has-text-danger'>{{.}}</label>
                                    {{end}}
                                    <input class="input is-medium is-rounded" type='email' id='email' name='email'
                                           placeholder="hello@example.com" value='{{.Form.Email}}'>
                                </div>
                                <button class="button is-block is-fullwidth is-primary is-medium is-rounded mt-5"
                                        type="submit">Code anfordern
                                </button>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}