{{define "title"}}ÜIS - Anlage Klient{{end}}

{{define "main"}}
<div class="column is-half">
    <form action='/guest/create' method='POST' novalidate>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        <div class="field">
            <label for="lastname" class="label">Nachname:</label>
            {{with .Form.FieldErrors.lastname}}
            <label class='has-text-danger'>{{.}}</label>
            {{end}}
            <input class="input" type='text' id="lastname" name='lastname' value='{{.Form.LastName}}'>
        </div>
        <div class="field">
            <label for="firstname" class="label">Vorname:</label>
            {{with .Form.FieldErrors.firstname}}
            <label class='has-text-danger'>{{.}}</label>
            {{end}}
            <input class="input" type="text" id="firstname" name="firstname" value="{{.Form.FirstName}}">
        </div>

        <div class="field">
            <label for="birthdate" class="label">Geburtsdatum:</label>
            <input type="date" id="birthdate" name="birthdate" min="1900-01-01"/>
        </div>

        <div class="field">
            <label for="birthplace" class="label">Geburtsort:</label>
            {{with .Form.FieldErrors.birthplace}}
            <label class='has-text-danger'>{{.}}</label>
            {{end}}
            <input class="input" type="text" id="birthplace" name="birthplace" value="{{.Form.BirthPlace}}">
        </div>
        <div class="field">
            <label for="idnumber" class="label">Ausweisnummer:</label>
            <input class="input" type="text" id="idnumber" name="idnumber" value="">
        </div>
        <div class="field">
            <label for="nationality" class="label">Nationalität:</label>
            {{with .Form.FieldErrors.nationality}}
            <label class='is-color-danger'>{{.}}</label>
            {{end}}
            <input class="input" type="text" id="nationality" name="nationality" value="{{.Form.Nationality}}">
        </div>
        <div class="field">
            <label for="lastresidence" class="label">Letzter Wohnort:</label>
            <input class="input" type="text" id="lastresidence" name="lastresidence" value="">
        </div>
        <div class="field">
            <label for="houseban" class="checkbox">Hausverbot:
                <input type="checkbox" id="houseban" name="houseban">
            </label>
        </div>

        <div class="field">
            <label for="hbstartdate" class="label">Hausverbot Beginn:</label>
            <input type="date" id="hbstartdate" name="hbstartdate" value="2000-01-01">
        </div>

        <div class="field">
            <label for="hbenddate" class="label">Hausverbot Ende:</label>
            <input type="date" id="hbenddate" name="hbenddate" value="2000-01-01">
        </div>

        <div class="control my-5">
            <button class="button is-primary" type='submit'>Anmelden</button>
        </div>
    </form>
</div>

{{end}}