{{define "title"}}Passwort ändern{{end}}

{{define "main"}}
<div data-target="light">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="mt-5 column is-three-fifths is-offset-one-fifth">
                <section class="hero is-medium has-background-white-ter">
                    <div class="hero-body has-text-centered">
                        <div class="login">
                            <div>
                                <h3 class="title">Passwort ändern</h3>
                                <hr class="login-hr">
                            </div>
                            <form action='/account/password/update' method='POST' novalidate>
                                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                                {{range .Form.NonFieldErrors}}
                                <div class="is-color-danger">{{.}}</div>
                                {{end}}
                                <div class="field">
                                    <label for="currentPassword" class="label">Altes Passwort</label>
                                    {{with .Form.FieldErrors.currentPassword}}
                                    <label class='label has-text-danger'>{{.}}</label>
                                    {{end}}
                                    <input class="input is-medium is-rounded" type='password' name='currentPassword'
                                           id="currentPassword" placeholder="**********">
                                </div>
                                <div>
                                    <label class="label">Neues Passwort:</label>
                                    {{with .Form.FieldErrors.newPassword}}
                                    <label class='label has-color-danger'>{{.}}</label>
                                    {{end}}
                                    <input class="input is-medium is-rounded" type='password' name='newPassword'
                                    placeholder="**********">
                                </div>
                                <div>
                                    <label class="label">Passwort wiederholen:</label>
                                    {{with .Form.FieldErrors.newPasswordConfirmation}}
                                    <label class='label has-color-danger'>{{.}}</label>
                                    {{end}}
                                    <input class="input is-medium is-rounded" type='password'
                                           name='newPasswordConfirmation' placeholder="**********">
                                </div>
                                <div class="control my-5">
                                    <button class="button is-block is-fullwidth is-primary is-rounded is-medium"
                                            type="submit">Change Password</button>
                                </div>
                            </form>


                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}