{{define "title"}}Reset Password{{end}}

{{define "main"}}
<div data-theme="light">
    <section id="reset" class="hero is-light is-large">
        <div class="container has-text-centered mt-2">
            <div class="columns">
                <div class="column is-8 is-offset-2">
                    <div>
                        <h3 class="title">Reset Passwort</h3>
                        <hr class="login-hr">
                        <p class="subtitle">Bitte neues Passwort eingeben.</p>
                    </div>
                    <div class="box has-background-light-40">
                        <form  action='/user/password/reset/{{.Form.Id}}' method='POST' novalidate>
                            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                            <div>
                                <label class="label">New password:</label>
                                {{with .Form.FieldErrors.newPassword}}
                                <label class='is-color-danger'>{{.}}</label>
                                {{end}}
                                <input class="input" type='password' name='newPassword'>
                            </div>
                            <div>
                                <label class="label">Confirm new password:</label>
                                {{with .Form.FieldErrors.newPasswordConfirmation}}
                                <label class='is-color-danger'>{{.}}</label>
                                {{end}}
                                <input class="input" type='password' name='newPasswordConfirmation'>
                            </div>
                            <div class="control my-5">
                                <button class="button is-primary" type="submit">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{{end}}