{{define "title"}}Passwort neu vergeben{{end}}

{{define "main"}}
<div data-theme="light">
    <div class="container is-max-desktop">
        <div class="columns">
            <div class="mt-5 column is-three-fifths is-offset-one-fifth">
                <section class="hero is-medium has-background-white-ter">
                    <div class="hero-body has-text-centered">
                        <div class="login">
                            <h3 class="title">Passwort neu vergeben</h3>
                            <hr class="login-hr">
                        </div>
                        <form action='/password_reset' method='POST' novalidate>
                            <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                            <div class="field">
                                <label for="password" class="label">Neues Password:</label>
                                {{with .Form.FieldErrors.newPassword}}
                                <label class="label has-text-danger">{{.}}</label>
                                {{end}}
                                <input class="input is-medium is-rounded" type='password' id="password"
                                       name='newPassword'
                                       placeholder="**********">
                            </div>
                            <div class="field">
                                <label for="passwordConfirmation" class="label">Passwort bestätigen:</label>
                                {{with .Form.FieldErrors.newPasswordConfirmation}}
                                <label class='is-color-danger'>{{.}}</label>
                                {{end}}
                                <input class="input is-medium is-rounded" type='password'
                                       id="passwordConfirmation" name='newPasswordConfirmation'
                                placeholder="**********">
                            </div>
                            <div class="control my-5">
                                <button class="button is-block is-fullwidth is-rounded is-primary" type="submit">Passwort speichern</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{end}}